body {background-color: rgb(194, 135, 63);
font-weight: 1000;
padding: 3rem;
margin: 0;
line-height:1.6rem ;
font-family:'inter' sans-serif;
color: white;}





 

#Main-Heading {font-size: 50px;}
.Saying {color: white;
font-size: 30px;}


        

            .Saying {font-size: 22px;}

           

   

  .Places { 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;}
  .Photo-Card {background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            height: auto;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;}
            
            .Photo-Card:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)} 

            .Animals {
                display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;}


  .Nairobi {display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;}

#Animal-Heading {font-size: 50px;
text-align: center;}
#Nairobi-Heading {font-size: 50px;
text-align: center;}
.Like-button {font-size: 50px;
background-color: rgb(227, 169, 98);
border-color: rgb(227, 169, 98);
border-bottom-color: rgb(227,169,98);
border-radius: 20px;
width:85px;}
