
body {background-color: rgb(194, 135, 63);
font-weight: 1000;
padding: 3rem;
margin: 0;
line-height:1.6rem ;
font-family:'inter' sans-serif;
color: white;}

.Photo-card-1{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;}
       
         .Photo-card-1:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}

        .Photo-card-2{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top: -450px;
            right: -400px;
        }
             .Photo-card-2:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}

            .Photo-card-3{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top: -900px;
            right: -800px;
            }
             .Photo-card-3:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}
            .Photo-card-4{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top: -800px;
        }
             .Photo-card-4:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}
            .Photo-card-5{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
        position: relative;
        top: -1250px;
    right: -400px;}
             .Photo-card-5:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}
            .Photo-card-6{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
        position:relative;
    top: -1050px;
left: 0px;}
             .Photo-card-6:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}
            .Photo-card-7{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
        position: relative;
    top: -1290px;
left: 1200px;}
             .Photo-card-7:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}
            .Photo-card-8{background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
        position: relative;
    top: -2850px;
left: 800px;}
             .Photo-card-8:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}

            .Photo-card-9 {background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
        position: relative;
    top: -2465px;
left: 800px;}
             .Photo-card-9:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}

            .Photo-card-10 {background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top:-2950px ;
            left: 400px;
            }
            .Photo-card-10:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}

            #Animal-Heading { position: relative;
            top: -1150px;
        text-align: center;
    font-size: 50px;}

      .Photo-card-11 {background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top:-2400px ;
            }
            .Photo-card-11:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}       

 .Photo-card-12 {background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top:-2800px ;
            left: 400px;
            }
            .Photo-card-12:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}

            .Photo-card-13 {background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top:-3215px ;
            left:800px;
            }
            .Photo-card-13:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}
.Giraffe {width: 300px;
height: 300px;}
#Nairobi-Heading {font-size: 50px;
position: relative;
top: -2600px;
text-align: center;}
#Main-Heading {font-size: 50px;}
.Saying {color: white;
font-size: 30px;}
.Giraffe {height: 400px;}


 .Photo-card-14 {background-color: rgb(234, 204, 167);
            border-radius: 1rem;
            padding: 1.5rem;
            width: 300px;
            font-size: 20px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            position: relative;
            top:-3600px;
            left: 1200px;
            }
            .Photo-card-14:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}       

            .Saying {font-size: 22px;}

            #Dotted-Underline {font-size: 50px;
            position: relative;
        top: -6925px;
    color: rgb(90, 90, 226);}
    body {overflow-x: hidden;
    overflow-y: auto;}