

body {background-color: rgb(194, 135, 63);
font-weight: 1000;
padding: 3rem;
margin: 0;
line-height:1.6rem ;
font-family:'inter' sans-serif;
color: white;}


       
        
      

#Nairobi-Heading {font-size: 50px;}

#Main-Heading {font-size: 50px;}
.Saying {color: white;
font-size: 22px;}
.

.Photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;}


.Photo-card {
    background-color: rgb(234, 204, 167);
    border-radius: 1rem;
    padding: 1.5rem;
    width: 300px;
    font-size: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;}
     .Photo-card:hover {transform: translateY(-15px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5)}
            
.Places {display: grid;
            grid-template-columns: repeat(4, 1fr);
        gap: 20px;}

 .Animals {display: grid;
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;}

    .Nairobi {display: grid;
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;}
    #Animal-Heading {font-size: 50px;}
    .Giraffe {height: auto;}
    .Like-button {font-size: 30px;
    background-color: rgb(0, 51, 102);
color: white;
border-radius: 30rem;
}
    #Welcome-Message {color: white;
    font-size:30px ;}
.Givelike {font-size: 45px;
justify-content: center;}